
{% extends 'dashboard/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <body class="sb-nav-fixed">

        {% include 'dashboard/nav.html' %}
     

            <div id="layoutSidenav_content">
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Add New Emp || <a href="/show"> Employee List</a></li>
                </ol>
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-12">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    
                                    <div class="card-body">
                                        <form method="post" novalidate>
                                            {% csrf_token %}
                                            <div class="row">

                                              
                                              <div class="col-6">
                                                {{ form.eid|as_crispy_field }}
                                              </div>

                                              <div class="col-6">
                                                {{ form.ename|as_crispy_field }}
                                              </div>

                                              <div class="col-6">
                                                {{form.eemail|as_crispy_field }}
                                              </div>

                                              <div class="col-6">
                                                {{ form.econtact|as_crispy_field }}
                                              </div>

                                            </div>
                                           
                                            <button type="submit" class="btn btn-primary">Add</button>
                                          </form>
                                    </div>
                                   
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <br>
                </main>
                {% include 'dashboard/footer.html' %}
            </div>
        </div>
        

{% endblock %}


