{% extends 'dashboard/base.html' %}

{% block content %}
    <body class="bg-primary">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Create Account</h3></div>
                                    <div class="card-body">
                                        <form action="register" method= "post">
                                            {% csrf_token %}
                                               <div class="form-row">
                                                   <div class="col-md-6">
                                                       <div class="form-group"><label class="small mb-1" for="inputFirstName">First Name</label><input class="form-control py-4" id="inputFirstName" type="text"  name="first_name" placeholder="Enter first name" required /></div>
                                                   </div>
                                                   <div class="col-md-6">
                                                       <div class="form-group"><label class="small mb-1" for="inputLastName">Last Name</label><input class="form-control py-4" id="inputLastName" type="text" name="last_name" placeholder="Enter last name" /></div>
                                                   </div>
   
                                               </div>
   
                                               
                                               
                                               <div class="form-row">
                                                   <div class="col-md-6">
                                                       <div class="form-group"><label class="small mb-1" for="inputEmailAddress">Email Id</label><input class="form-control py-4" id="email" type="email" name="email" placeholder="Enter Email" /></div>
                                                   </div>
                                                   <div class="col-md-6">
                                                       <div class="form-group"><label class="small mb-1" for="inputUsername">User Name</label><input class="form-control py-4" id="inputUserName" type="text" name="username" placeholder="Enter User Name" /></div>
                                                   </div>
                                               </div>
   
                                               
                                               
                                               <div class="form-row">
                                                   <div class="col-md-6">
                                                       <div class="form-group"><label class="small mb-1" for="inputPassword">Password</label><input class="form-control py-4" id="inputPassword" type="password" name="password1" placeholder="Enter password" /></div>
                                                   </div>
                                                   <div class="col-md-6">
                                                       <div class="form-group"><label class="small mb-1" for="inputConfirmPassword">Confirm Password</label><input class="form-control py-4" id="inputConfirmPassword" type="password" name="password2" placeholder="Confirm password" /></div>
                                                   </div>
                                               </div>
                                                 <button type="submit" class="btn btn-primary btn-block"> Create Account  </button>
                                                 
                                           </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="register/">Have an account? Go to login</a></div>
                                    </div>
                                </div>
                                {% for message in messages %}
                                <h3> {{message}} </h3>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2019</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        {% endblock %}
