<!--
Author: codensity
Author URL: http://codensity.in
License: Creative Commons groundCoding
License URL: http://groundCoding.com
-->

{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<!-- header -->
	{% include "include/header.html" %}
	<!-- banner -->
	<div class="innerf-banner">
	</div>
	<!--//banner -->
	<!-- Page details -->
	<div class="services-agile-breadcrumb">
		<div class="inner_breadcrumb">
			<ul class="short_ls">
				<li>
					<a href="/">Home</a>
					<span>| |</span>
				</li>
				<li>About</li>
			</ul>
		</div>
	</div>
	<!-- //Page details -->
	<!--about-top-->
	<div class="about-ftop-inn">
		<div class="container">
			<h3 class="tittlef-agileits-w3layouts">About Us</h3>
			<div class="abt-img">
				<h3 class="sub-w3ls-headf white-clrf">Shortly about Grounding Coaching Sessions.</h3>
			</div>
		
			

			<div class="abtf-info">
				<div class="about-grids">
					<h5>Why choose us</h5>
					<p class="paragraphf"><span class="fa fa-repeat" aria-hidden="true"></span> 30+ Years of experience</p>
					<p class="paragraphf"><span class="fa fa-repeat" aria-hidden="true"></span> Range of coaching</p>
					<p class="paragraphf"><span class="fa fa-repeat" aria-hidden="true"></span> Books, DVD's, Podcasts</p>
					<p class="paragraphf"><span class="fa fa-repeat" aria-hidden="true"></span> Pricing's Affordability</p>
				</div>
				<div class="about-grids">
					<h5>Coaching strategy sessions</h5>
					<p class="paragraphf">Vestibulum mi ligula, bibendum quis leo at, euismod cursus tortor. Etiam vulputate enim id est suscipit tincidunt. In
						lectus lectus, euismod eu lacus non, blandit imperdiet nulla. </p>
				</div>
				<div class="about-grids">
					<h5>success coaching programs</h5>
					<p class="paragraphf">Curabitur posuere enim nec ante varius volutpat. Aenean ipsum elit, ultrices mollis purus quis, aliquet faucibus ex.
						Aenean vel elementum lectus, sit amet euismod lorem.</p>
				</div>
			</div>
			<br>
			<table class="table">
				<thead class="thead-dark">
				  <tr>
					<th scope="col">id</th>
					<th scope="col">Name</th>
					<th scope="col">Email</th>
					<th scope="col">Mobile</th>
					<th scope="col">Position</th>
				  </tr>
				</thead>
				<tbody>
					{% for n in d %}
				  <tr>
					<th scope="row">{{n.id}}</th>
					<td>{{n.name}}</td>
					<td>{{n.email}}</td>
					<td>{{n.mobile}}</td>
					<td>{{n.position}}</td>
				  </tr>
				  {%endfor%}
				  
				</tbody>
			  </table>


			  <br> 
			  <p> Api Data</p>
			  {% for n in nn %}
			  <P>{{n.name}}
				{%endfor%}
			</P>
			  </P>
			  
			  
		</div>

		
	</div>
	<!--//about-top-->

	<!-- stats-f -->
	<div class="stats-f">
		<div class="container">
			<h3 class="tittlef-agileits-w3layouts white-clrf">Things that make our coaching the best</h3>
			<div class="stats-f_inner_grids">
				<div class="col-md-6">
					<h3 class="sub-w3ls-headf white-clrf">30+ Years of experience</h3>
					<p class="paragraphf white-clrf ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique est, et egestas odio. Mauris ac tristique
						arcu, interdum risus.Integer quis tristique.</p>
					<div class="stats-f_left counter_grid">
						<span class="fa fa-book" aria-hidden="true"></span>
						<p class="counter">145</p>
						<h4>Courses</h4>
					</div>
					<div class="stats-f_left counter_grid1">
						<span class="fa fa-users" aria-hidden="true"></span>
						<p class="counter">365</p>
						<h4>Happy clients</h4>
					</div>
				</div>
				<div class="col-md-6">
					<div class="stats-f_left counter_grid2">
						<span class="fa fa-user-plus" aria-hidden="true"></span>
						<p class="counter">563</p>
						<h4>People loved</h4>
					</div>
					<div class="stats-f_left counter_grid3">
						<span class="fa fa-trophy" aria-hidden="true"></span>
						<p class="counter">1045</p>
						<h4>Awards won</h4>
					</div>
					<h3 class="sub-w3ls-headf white-clrf">Success coaching programs</h3>
					<p class="paragraphf white-clrf ">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique est, et egestas odio. Mauris ac tristique
						arcu, interdum risus.Integer quis tristique.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //stats-f -->
	<!-- about -->
	<div class="aboutf">
		<div class="container">
			<h3 class="tittlef-agileits-w3layouts">Top most popular courses</h3>
			<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique est, et egestas odio. Mauris ac tristique
				arcu, sed interdum risus.Integer quis tristique est, et egestas odio. Mauris ac tristique arcu, sed interdum risus.</p>
		</div>
		<div class="banner_bottom_tab_grids">
			<div id="verticalTab" class="resp-vtabs" style="display: block; width: 100%; margin: 0px;">
				<ul class="resp-tabs-list">
					<li class="resp-tab-item resp-tab-active" aria-controls="tab_item-0" role="tab">Courses</li>
					<li class="resp-tab-item" aria-controls="tab_item-1" role="tab">Marketing</li>
					<li class="resp-tab-item" aria-controls="tab_item-2" role="tab">Development</li>
					<li class="resp-tab-item" aria-controls="tab_item-3" role="tab">Business</li>
					<li class="resp-tab-item" aria-controls="tab_item-4" role="tab">Maths</li>
				</ul>
				<div class="resp-tabs-container">
					<!-- tab1 -->
					<div class="resp-tab-content resp-tab-content-active" style="display:block" aria-labelledby="tab_item-0">
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="courses.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">IT Management</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="courses.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Core IT Skills</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf3.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="courses.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Databases</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="courses.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Mobile Apps</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!-- //tabs-info -->
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Network And Security</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Data Science</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf3.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Game Development</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Hardware</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>

							<!-- // video-button-popup -->
							<div id="small-dialog" class="mfp-hide">
								<iframe src="https://player.vimeo.com/video/7273286"></iframe>
							</div>
							<!-- // video-button-popup -->

						</div>
						<!-- //tabs-info -->
					</div>
					<!-- //tab1 -->
					<!-- tab2 -->
					<div class="resp-tab-content" aria-labelledby="tab_item-1">
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf5.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="marketing.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Digital marketing</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="marketing.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Marketing Management</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf6.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="marketing.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Social Media Marketing</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf7.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="marketing.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Public Relations</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!-- //tabs-info -->
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog1" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Social Media Marketing</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog1" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Digital marketing</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog1" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Public Relations</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf7.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog1" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Marketing Management</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>

							<!-- // video-button-popup -->
							<div id="small-dialog1" class="mfp-hide">
								<iframe src="https://player.vimeo.com/video/55806355"></iframe>
							</div>
							<!-- // video-button-popup -->

						</div>
						<!-- //tabs-info -->
					</div>
					<!--// tab2 -->
					<!-- tab3 -->
					<div class="resp-tab-content" aria-labelledby="tab_item-2">
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="development.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Web Development</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="development.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Mobile Apps</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf3.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="development.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Programming Languages</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="development.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Game Development</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!-- //tabs-info -->
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog2" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Databases</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog2" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Software Testing</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf3.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog2" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Software Engineering</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog2" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Development Tools</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>

							<!-- // video-button-popup -->
							<div id="small-dialog2" class="mfp-hide">
								<iframe src="https://player.vimeo.com/video/53755097"></iframe>
							</div>
							<!-- // video-button-popup -->

						</div>
						<!-- //tabs-info -->
					</div>
					<!--// tab3 -->
					<!-- tab4 -->
					<div class="resp-tab-content" aria-labelledby="tab_item-3">
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="business.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Business Law</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="business.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Project Management</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf3.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="business.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">E-Commerce</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="business.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Strategy</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!-- //tabs-info -->
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog3" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Communications</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog3" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Entrepreneurship</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf3.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog3" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Finance</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog3" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Leadership & Management</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>

							<!-- // video-button-popup -->
							<div id="small-dialog3" class="mfp-hide">
								<iframe src="https://player.vimeo.com/video/198096211"></iframe>
							</div>
							<!-- // video-button-popup -->

						</div>
						<!-- //tabs-info -->
					</div>
					<!--// tab4 -->
					<!-- tab5 -->
					<div class="resp-tab-content" aria-labelledby="tab_item-4">
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf9.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="maths.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Algebra</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bbf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="maths.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Calculus</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf8.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="maths.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Core maths skills</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf10.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="maths.html" class="buttonf">Know More</a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Geometry</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<!-- //tabs-info -->
						<!-- tabs-info -->
						<div class="main-topicsf">
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf1.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog4" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Probability & Statistics</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf2.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog4" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Geometry</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf4.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog4" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Test Taking Skills</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="col-md-3 col-sm-6 tabsf-w3-agileits-grids">
								<img src="{% static 'images/bf3.jpg'%}" alt="" />
								<div class="img-caption">
									<div class="tabs-inn-info-agileits-w3layouts">
										<a href="#small-dialog4" class="popup-with-zoom-anim buttonf"><span class="fa fa-play-circle-o" aria-hidden="true"></span></a>
									</div>
								</div>
								<h3 class="sub-w3ls-headf">Series and Sequences</h3>
								<p class="paragraphf">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio</p>
							</div>
							<div class="clearfix"> </div>

							<!-- // video-button-popup -->
							<div id="small-dialog4" class="mfp-hide">
								<iframe src="https://player.vimeo.com/video/110807219?color=c9ff23&byline=0"></iframe>
							</div>
							<!-- // video-button-popup -->

						</div>
						<!-- //tabs-info -->
					</div>
					<!--// tab5 -->
				</div>
			</div>
		</div>
	</div>
	<!-- //about-->
	<!-- instructors section -->
	<div class="finner_team">
		<h3 class="tittlef-agileits-w3layouts">Instructors</h3>
		<div class="col-md-6 teamf-left">
			<div class="col-xs-4 fteam_grid_info">
				<img src="{% static 'images/tf1.jpg'%}" alt=" " class="img-responsive" />
				<h3>Maria Lisa</h3>
				<p>Professor of Marketing</p>
				<div class="teamf_icons">
					<ul>
						<li>
							<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-4 fteam_grid_info">
				<img src="{% static 'images/tf2.jpg'%}" alt=" " class="img-responsive" />
				<h3>Pippa Molly</h3>
				<p>Corporate Marketing</p>
				<div class="teamf_icons">
					<ul>
						<li>
							<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-4 fteam_grid_info">
				<img src="{% static 'images/tf3.jpg'%}" alt=" " class="img-responsive" />
				<h3>Carol Jan</h3>
				<p>Reader in Marketing</p>
				<div class="teamf_icons">
					<ul>
						<li>
							<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-4 fteam_grid_info">
				<img src="{% static 'images/tf2.jpg'%}" alt=" " class="img-responsive" />
				<h3>Adam Joe</h3>
				<p>Digital Marketing</p>
				<div class="teamf_icons">
					<ul>
						<li>
							<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-4 fteam_grid_info">
				<img src="{% static 'images/tf3.jpg'%}" alt=" " class="img-responsive" />
				<h3>Neil Ryan</h3>
				<p>Director of Marketing</p>
				<div class="teamf_icons">
					<ul>
						<li>
							<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-xs-4 fteam_grid_info">
				<img src="{% static 'images/tf1.jpg'%}" alt=" " class="img-responsive" />
				<h3>Maria Lisa</h3>
				<p>Director of Marketing</p>
				<div class="teamf_icons">
					<ul>
						<li>
							<a href="#">
										<i class="fa fa-facebook" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-twitter" aria-hidden="true"></i>
									</a>
						</li>
						<li>
							<a href="#">
										<i class="fa fa-dribbble" aria-hidden="true"></i>
									</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-md-6 teamf-right">
			<div class="date-text">
				<img src="{% static 'images/tf1.jpg'%}" alt=" " class="img-responsive" />
				<div class="clientf-info">
					<span class="fa fa-quote-left" aria-hidden="true"></span>
					<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit.</p>
					<h6>Maria Lisa</h6>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="date-text text-right">
				<img src="{% static 'images/tf2.jpg'%}" alt=" " class="img-responsive" />
				<div class="clientf-info">
					<span class="fa fa-quote-left" aria-hidden="true"></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. </p>
					<h6>Pippa Molly</h6>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="date-text">
				<img src="{% static 'images/tf3.jpg'%}" alt=" " class="img-responsive" />
				<div class="clientf-info">
					<span class="fa fa-quote-left" aria-hidden="true"></span>
					<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit.</p>
					<h6>Carol Jan</h6>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="date-text text-right">
				<img src="{% static 'images/tf1.jpg'%}" alt=" " class="img-responsive" />
				<div class="clientf-info">
					<span class="fa fa-quote-left" aria-hidden="true"></span>
					<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit.</p>
					<h6>Maria Lisa</h6>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="date-text">
				<img src="{% static 'images/tf2.jpg'%}" alt=" " class="img-responsive" />
				<div class="clientf-info">
					<span class="fa fa-quote-left" aria-hidden="true"></span>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. </p>
					<h6>Adam Joe</h6>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="date-text text-right">
				<img src="{% static 'images/tf3.jpg'%}" alt=" " class="img-responsive" />
				<div class="clientf-info">
					<span class="fa fa-quote-left" aria-hidden="true"></span>
					<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit.</p>
					<h6>Neil Ryan</h6>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="clearfix"> </div>


	</div>
	<!-- //instructors section -->
	<!-- //Like also section -->

		<!-- footer -->
		{% include "include/footer.html" %}
		<!-- //footer -->
	
		<!-- js -->
	
		
	</body>
	
	</html>
	{% endblock %}