<!--
Author: codensity
Author URL: http://codensity.in
License: Creative Commons groundCoding
License URL: http://groundCoding.com
-->

{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<!-- header -->
	{% include "include/header.html" %}
		<!-- banner -->
		<div class="innerf-banner">
		</div>
		<!--//banner -->
		<!-- Page details -->
		<div class="services-agile-breadcrumb">
			<div class="inner_breadcrumb">
				<ul class="short_ls">
					<li>
						<a href="index.html">Home</a>
						<span>| |</span>
					</li>
					<li>Full Blog Page</li>
				</ul>
			</div>
		</div>
		<!-- //Page details -->

		<!-- blog page-1 -->
		<div class="banner_bottom">
			<div class="container">
				<h3 class="tittle">All Posts</h3>
				<div class="inner_sec_info">
					<!-- left side -->
					<div class="col-md-8 blog_section">
						<div class="blog_img-3">
							<div class="blog_con">
								<a href="/singal/">
									<img src="{% static 'images/banner1.jpg'%}" alt=" " class="img-responsive">
								</a>
								<div class="blog_w3_info">
									<h4>6th - Jan 2018</h4>
									<h5>
										<a href="/singal/">Sed ut perspiciatis unde omnis iste.</a>
									</h5>
									<ul class="blog_list">
										<li>
											<a href="#">
												<span class="fa fa-user" aria-hidden="true"></span>
												Doe Joes</a>
											<i>|</i>
										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart" aria-hidden="true"></span>
												20</a>
											<i>|</i>
										</li>
										<li>
											<a href="#">
												<span class="fa fa-tag" aria-hidden="true"></span>
												8</a>
										</li>

									</ul>
									<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
								</div>
							</div>
						</div>
						<div class="blog_img-3">
							<div class="blog_con">
								<a href="/singal/">
									<img src="{% static 'images/banner4.jpg'%}" alt=" " class="img-responsive">
								</a>
								<div class="blog_w3_info">
									<h4>7th - Feb 2018</h4>
									<h5>
										<a href="/singal/">Sadipisci velit, sed quia non numquam.</a>
									</h5>
									<ul class="blog_list">
										<li>
											<a href="#">
												<span class="fa fa-user" aria-hidden="true"></span>
												Jan Mark</a>
											<i>|</i>
										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart" aria-hidden="true"></span>
												10</a>
											<i>|</i>
										</li>
										<li>
											<a href="#">
												<span class="fa fa-tag" aria-hidden="true"></span>
												5</a>
										</li>

									</ul>
									<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
								</div>
							</div>
						</div>
						<div class="blog_img-3">
							<div class="blog_con">
								<a href="/singal/">
									<img src="{% static 'images/banner2.jpg'%}" alt=" " class="img-responsive">
								</a>
								<div class="blog_w3_info">
									<h4>13th - Feb 2018</h4>
									<h5>
										<a href="/singal/">Sadipisci velit, sed quia non numquam.</a>
									</h5>
									<ul class="blog_list">
										<li>
											<a href="#">
												<span class="fa fa-user" aria-hidden="true"></span>
												Marko Koe</a>
											<i>|</i>
										</li>
										<li>
											<a href="#">
												<span class="fa fa-heart" aria-hidden="true"></span>
												17</a>
											<i>|</i>
										</li>
										<li>
											<a href="#">
												<span class="fa fa-tag" aria-hidden="true"></span>
												6</a>
										</li>

									</ul>
									<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
						<!-- pagination -->
						<nav class="paging1">
							<ul class="pagination">
								<li>
									<a href="#" aria-label="Previous">
										<span aria-hidden="true">«</span>
									</a>
								</li>
								<li>
									<a href="#">1</a>
								</li>
								<li>
									<a href="#">2</a>
								</li>
								<li>
									<a href="#">3</a>
								</li>
								<li>
									<a href="#">4</a>
								</li>
								<li>
									<a href="#">5</a>
								</li>
								<li>
									<a href="#" aria-label="Next">
										<span aria-hidden="true">»</span>
									</a>
								</li>
							</ul>
						</nav>
						<!-- //pagination -->
					</div>
					<!-- //left side -->
					<!-- right side -->
					<div class="col-md-4 event-right wthree-event-right">
						<div class="event-right1 mainsmkinfo-event-right1">
							<div class="search1 mainsmkits-search1">
								<form action="#" method="post">
									<input type="search" name="Search" placeholder="Search here..." required="">
									<input type="submit" value="Search">
								</form>
							</div>
							<div class="categories textmks-categories">
								<h3>Categories</h3>
								<ul>
									<li>
										<i class="fa fa-check" aria-hidden="true"></i>
										<a href="/singal/">At vero eos et accusamus iusto</a>
									</li>
									<li>
										<i class="fa fa-check" aria-hidden="true"></i>
										<a href="/singal/">Sed ut perspiciatis unde omnis</a>
									</li>
									<li>
										<i class="fa fa-check" aria-hidden="true"></i>
										<a href="/singal/">Accusantium doloremque lauda</a>
									</li>
									<li>
										<i class="fa fa-check" aria-hidden="true"></i>
										<a href="/singal/">Vel illum qui dolorem fugiat quo</a>
									</li>
									<li>
										<i class="fa fa-check" aria-hidden="true"></i>
										<a href="/singal/">Quis autem vel eum repreh</a>
									</li>
									<li>
										<i class="fa fa-check" aria-hidden="true"></i>
										<a href="/singal/">Neque porro quisquam est qui</a>
									</li>
								</ul>
							</div>
							<div class="posts textmk-posts">
								<h3>Our Events</h3>
								<div class="posts-grids mm-posts-grids">
									<div class="posts-grid mm-posts-grid">
										<div class="posts-grid-left mm-posts-grid-left">
											<a href="/singal/">
												<img src="{% static 'images/mf2.jpg'%}" alt=" " class="img-responsive" />
											</a>
										</div>
										<div class="posts-grid-right mm-posts-grid-right">
											<h4>
												<a href="/singal/">Sed ut perspiciatis unde omni</a>
											</h4>
											<ul class="wthree_blog_events_list">
												<li>
													<i class="fa fa-calendar" aria-hidden="true"></i>16/01/2018</li>
												<li>
													<i class="fa fa-user" aria-hidden="true"></i>
													<a href="/singal/">Admin</a>
												</li>
											</ul>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="posts-grid mm-posts-grid">
										<div class="posts-grid-left mm-posts-grid-left">
											<a href="/singal/">
												<img src="{% static 'images/mf4.jpg'%}" alt=" " class="img-responsive" />
											</a>
										</div>
										<div class="posts-grid-right mm-posts-grid-right">
											<h4>
												<a href="/singal/">Neque porro quisquam qui</a>
											</h4>
											<ul class="wthree_blog_events_list">
												<li>
													<i class="fa fa-calendar" aria-hidden="true"></i>06/02/2018</li>
												<li>
													<i class="fa fa-user" aria-hidden="true"></i>
													<a href="/singal/">Admin</a>
												</li>
											</ul>
										</div>
										<div class="clearfix"> </div>
									</div>
									<div class="posts-grid mm-posts-grid">
										<div class="posts-grid-left mm-posts-grid-left">
											<a href="/singal/">
												<img src="{% static 'images/mf6.jpg'%}" alt=" " class="img-responsive" />
											</a>
										</div>
										<div class="posts-grid-right mm-posts-grid-right">
											<h4>
												<a href="/singal/">Nemo enim ipsam latem quia</a>
											</h4>
											<ul class="wthree_blog_events_list">
												<li>
													<i class="fa fa-calendar" aria-hidden="true"></i>07/02/2018</li>
												<li>
													<i class="fa fa-user" aria-hidden="true"></i>
													<a href="/singal/">Admin</a>
												</li>
											</ul>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</div>
							<div class="tags tags1 textmkayouts-tags">
								<h3>Recent Tags</h3>
								<ul>
									<li>
										<a href="/singal/">Designs</a>
									</li>
									<li>
										<a href="/singal/">Growth</a>
									</li>
									<li>
										<a href="/singal/">Latest</a>
									</li>
									<li>
										<a href="/singal/">Price</a>
									</li>
									<li>
										<a href="/singal/">Tools</a>
									</li>
									<li>
										<a href="/singal/">mainsmk</a>
									</li>
									<li>
										<a href="/singal/">Category</a>
									</li>
									<li>
										<a href="/singal/">Themes</a>
									</li>
									<li>
										<a href="/singal/">Growth</a>
									</li>
									<li>
										<a href="/singal/">mainsmk</a>
									</li>
									<li>
										<a href="/singal/">Price</a>
									</li>
									<li>
										<a href="/singal/">Tools</a>
									</li>
									<li>
										<a href="/singal/">Business</a>
									</li>
									<li>
										<a href="/singal/">Category</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //right side -->
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //blog page-1 -->

	<!-- //Like also section -->

		<!-- footer -->
		{% include "include/footer.html" %}
		<!-- //footer -->
	
		<!-- js -->
	
		
	</body>
	
	</html>
	{% endblock %}