<!--
Author: codensity
Author URL: http://codensity.in
License: Creative Commons groundCoding
License URL: http://groundCoding.com
-->

{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<!-- header -->
	{% include "include/header.html" %}
	<!-- banner -->
	
	<div class="demo-bg">
		<div class="container">
			<h3 class="demo-title">a revolution in
				<span>online learning</span>
			</h3>
			<p class="demo-ibg-txt">latest posts</p>
		</div>
	</div>
	<!--//banner -->
	<!-- breadcrumbs -->
	<div class="demo-header">
		<div class="container-fluid">
			<ul class="inner_breadcrumb">
				<li>
					<a href="index.html">Home</a>
					<span>| |</span>
				</li>
				<li class="active">
					<a href="courses.html">Creative Blog</a>
				</li>
			</ul>

		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- blog -->
	<div class="blog main-pos demo-sec" id="blog">
		<h3 class="pos-title text-center">latest
			<span>blog</span> posts</h3>
		<div class="container">
			<div class="blog-sub">
				<div class="col-md-8 blog-sp">
					<div class="blog-x">
						<div class="col-md-6 blog-w3-agile-img">
							<a href="single.html">
								<img src="{% static 'images/cr1.jpg'%}" alt="" class="img-responsive" />
							</a>
						</div>
						<div class="col-md-6 blog_w3_info">
							<h5>
								<a href="single.html">Sadipisci velit sed quia non nuuam.</a>
							</h5>
							<p>By
								<a href="#" class="user-blog">james</a>
							</p>

							<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
							<ul class="blog_list">
								<li>
									<a href="#">
										<span class="fa fa-comment" aria-hidden="true"></span>
										173</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-heart" aria-hidden="true"></span>
										10</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-tag" aria-hidden="true"></span>
										5</a>
								</li>
							</ul>
							<h4>January 3,2018</h4>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="blog-x br-mar">
						<div class="col-md-6 blog_w3_info">
							<h5>
								<a href="single.html">Sadipisci velit sed quia non nuuam.</a>
							</h5>
							<p>By
								<a href="#" class="user-blog">james</a>
							</p>

							<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
							<ul class="blog_list">
								<li>
									<a href="#">
										<span class="fa fa-comment" aria-hidden="true"></span>
										173</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-heart" aria-hidden="true"></span>
										10</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-tag" aria-hidden="true"></span>
										5</a>
								</li>
							</ul>
							<h4>December 3,2017</h4>
						</div>
						<div class="col-md-6 blog-w3-agile-img img1">
							<a href="single.html">
								<img src="{% static 'images/sp1.jpg'%}" alt="" class="img-responsive" />
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<div class="col-md-4  blog-side blog-top-right">
					<div class="blog-w3-agile-img">
						<a href="single.html">
							<img src="{% static 'images/cr1.jpg'%}" alt="" class="img-responsive" />
						</a>
					</div>
					<div class="blog_w3_info  blog-right">
						<h5>
							<a href="single.html">Sadipisci velit sed quia non nuuam.</a>
						</h5>
						<p>By
							<a href="#" class="user-blog">james</a>
						</p>

						<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
						<ul class="blog_list">
							<li>
								<a href="#">
									<span class="fa fa-comment" aria-hidden="true"></span>
									173</a>
								<i>|</i>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-heart" aria-hidden="true"></span>
									10</a>
								<i>|</i>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-tag" aria-hidden="true"></span>
									5</a>
							</li>
						</ul>
						<h4>December 30,2017</h4>
					</div>

				</div>
				<div class="clearfix"></div>
			</div>
			<div class="blog-sub even-blog">
				<div class="col-md-4 blog-side">
					<div class="blog-w3-agile-img">
						<a href="single.html">
							<img src="{% static 'images/cr1.jpg'%}" alt="" class="img-responsive" />
						</a>
					</div>
					<div class="blog_w3_info blog-right">
						<h5>
							<a href="single.html">Sadipisci velit sed quia non nuuam.</a>
						</h5>
						<p>By
							<a href="#" class="user-blog">james</a>
						</p>

						<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
						<ul class="blog_list">
							<li>
								<a href="#">
									<span class="fa fa-comment" aria-hidden="true"></span>
									173</a>
								<i>|</i>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-heart" aria-hidden="true"></span>
									10</a>
								<i>|</i>
							</li>
							<li>
								<a href="#">
									<span class="fa fa-tag" aria-hidden="true"></span>
									5</a>
							</li>
						</ul>
						<h4>January 17,2018</h4>
					</div>

				</div>
				<div class="col-md-8 blog-2row resp-blog">
					<div class="blog-x">

						<div class="col-md-6 blog_w3_info mblg">
							<h5>
								<a href="single.html">Sadipisci velit sed quia non nuuam.</a>
							</h5>
							<p>By
								<a href="#" class="user-blog">james</a>
							</p>

							<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
							<ul class="blog_list">
								<li>
									<a href="#">
										<span class="fa fa-comment" aria-hidden="true"></span>
										173</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-heart" aria-hidden="true"></span>
										10</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-tag" aria-hidden="true"></span>
										5</a>
								</li>
							</ul>
							<h4>January 1,2018</h4>
						</div>
						<div class="col-md-6 blog-w3-agile-img mblg">
							<a href="single.html">
								<img src="{% static 'images/cr1.jpg'%}" alt="" class="img-responsive" />
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="blog-x br-mar">
						<div class="col-md-6 blog-w3-agile-img img1">
							<a href="single.html">
								<img src="{% static 'images/sp1.jpg'%}" alt="" class="img-responsive" />
							</a>
						</div>
						<div class="col-md-6 blog_w3_info">
							<h5>
								<a href="single.html">Sadipisci velit sed quia non nuuam.</a>
							</h5>
							<p>By
								<a href="#" class="user-blog">james</a>
							</p>

							<p>Pellentesque eleifend ultricies tellus,varius risus, id dignissim sapien velit id felis ac cursus eros.</p>
							<ul class="blog_list">
								<li>
									<a href="#">
										<span class="fa fa-comment" aria-hidden="true"></span>
										173</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-heart" aria-hidden="true"></span>
										10</a>
									<i>|</i>
								</li>
								<li>
									<a href="#">
										<span class="fa fa-tag" aria-hidden="true"></span>
										5</a>
								</li>
							</ul>
							<h4>November 13,2017</h4>
						</div>

						<div class="clearfix"></div>
					</div>
				</div>

				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!-- //blog -->

		<!-- footer -->
		{% include "include/footer.html" %}
		<!-- //footer -->
	
		<!-- js -->
	
		
	</body>
	
	</html>
	{% endblock %}