<!--
Author: codensity
Author URL: http://codensity.in
License: Creative Commons groundCoding
License URL: http://groundCoding.com
-->

{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
</head>

<body>
	<!-- header -->
	{% include "include/header.html" %}		<div class="demo-bg">
		<div class="container">
			<h3 class="demo-title">a revolution in
				<span>online learning</span>
			</h3>
			<p class="demo-ibg-txt">video tutorials</p>
		</div>
	</div>
	<!-- breadcrumbs -->
	<div class="demo-header">
		<div class="container-fluid">
			<ul class="inner_breadcrumb">
				<li>
					<a href="index.html">Home</a>
					<span>| |</span>
				</li>
				<li class="active">
					<a href="video.html">video Tutorials</a>
					<span>| |</span>
				</li>
				<li>learning platform that helps your career</li>
			</ul>

		</div>
	</div>
	<!-- //breadcrumbs -->
	<!-- container -->
	<div class="containers">
		<div class="video-dhead">
			<h3 class="titlev">Welcome to the
				<span>video section</span> of our site.</h3>
			<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer quis tristique est, et egestas odio. Mauris ac tristique
				arcu, sed interdum et egestas odio. Mauris ac tristique arcu, sed interdum risus.Integer quis tristique est, et egestas
				odio. Mauris ac tristique arcu, sed interdum risus.
			</p>
		</div>
		<!-- online classes -->
		<div class="demo-video-tabs">
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation">
					<a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">
						Tutorials
					</a>
				</li>
				<li role="presentation" class="active">
					<a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">
						Courses
					</a>
				</li>

			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane" id="tab1">
					<h6 class="tab-txt">Find the Best programming Tutorials
						<span class="tab-rtxt">
							<i class="fa fa-play" aria-hidden="true"></i>iframes in popups</span>
					</h6>

					<!-- video grid -->
					<div class="video-grid1">
						<div class="demo-bg1">
							<div class="pop-bg pop-bg2">
								<div class="button">
									<a href="#small-dialog1" class="play-icon popup-with-zoom-anim" title="Play Video">
										<span class="fa fa-play" aria-hidden="true"></span>
									</a>
								</div>
								<!-- // video-button-popup -->
								<div id="small-dialog1" class="mfp-hide">
									<div class="agileits_modal_body">
										<iframe src="https://player.vimeo.com/video/7273286"></iframe>
									</div>
								</div>
								<!-- // video-button-popup -->
							</div>
							<div class="img-caption">
								<h3 class="video-txt">IT Management</h3>
								<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio.</p>
							</div>
						</div>
					</div>
					<!-- //video grid -->
					<!-- pop-row2 video grid -->
					<div class="pop-row2">
						<h6 class="row-txt">Three Column Layout</h6>
						<div class="col-md-4 video-grid1">
							<div class="demo-bg1">
								<div class="pop-bg3 pop-bg1">
									<div class="button">
										<a href="#small-dialog9" class="play-icon popup-with-zoom-anim" title="Play Video">
											<span class="fa fa-play" aria-hidden="true"></span>
										</a>
									</div>
									<!-- // video-button-popup -->
									<div id="small-dialog9" class="mfp-hide">
										<div class="agileits_modal_body">
											<iframe src="https://player.vimeo.com/video/7273286"></iframe>

										</div>
									</div>
									<!-- // video-button-popup -->
								</div>
								<div class="img-caption">
									<h3 class="video-txt">Digital marketing</h3>
									<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis.
									</p>
								</div>
							</div>
						</div>
						<!-- //video grid -->
						<!-- video grid -->
						<div class="col-md-4 video-grid1">
							<div class="demo-bg1  pop-row2-middle">
								<div class="pop-bg4 pop-bg1">
									<div class="button">
										<a href="#small-dialog8" class="play-icon popup-with-zoom-anim" title="Play Video">
											<span class="fa fa-play" aria-hidden="true"></span>
										</a>
									</div>
									<!-- // video-button-popup -->
									<div id="small-dialog8" class="mfp-hide">
										<div class="agileits_modal_body">
											<iframe src="https://player.vimeo.com/video/7273286"></iframe>

										</div>
									</div>
									<!-- // video-button-popup -->
								</div>
								<div class="img-caption">
									<h3 class="video-txt">Business Law</h3>
									<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
									</p>
								</div>
							</div>
						</div>
						<!-- //video grid -->

						<!-- video grid -->
						<div class="col-md-4 video-grid1">
							<div class="demo-bg1">
								<div class="pop-bg5 pop-bg1">
									<div class="button">
										<a href="#small-dialog7" class="play-icon popup-with-zoom-anim" title="Play Video">
											<span class="fa fa-play" aria-hidden="true"></span>
										</a>
									</div>
									<!-- // video-button-popup -->
									<div id="small-dialog7" class="mfp-hide">
										<div class="agileits_modal_body">
											<iframe src="https://player.vimeo.com/video/7273286"></iframe>

										</div>
									</div>
									<!-- // video-button-popup -->
								</div>
								<div class="img-caption">
									<h3 class="video-txt">Communication</h3>
									<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis.
									</p>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<!-- //pop-row2 -->
					<!-- //video grid -->
					<h6 class="row-txt">two Column Layout</h6>
					<div class="col-md-6 video-grid1">
						<div class="demo-bg1 poprow-3">
							<div class="pop-bg1 pop-bg3">
								<div class="button">
									<a href="#small-dialog6" class="play-icon popup-with-zoom-anim" title="Play Video">
										<span class="fa fa-play" aria-hidden="true"></span>
									</a>
								</div>
								<!-- // video-button-popup -->
								<div id="small-dialog6" class="mfp-hide">
									<div class="agileits_modal_body">
										<iframe src="https://player.vimeo.com/video/7273286"></iframe>

									</div>
								</div>
								<!-- // video-button-popup -->
							</div>
							<div class="img-caption">
								<h3 class="video-txt">Leadership & Management</h3>
								<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio.</p>
							</div>
						</div>
					</div>
					<!-- //video grid -->
					<!-- //video grid -->
					<div class="col-md-6 video-grid1">
						<div class="demo-bg1">
							<div class="pop-bg1 pop-bg4">
								<div class="button">
									<a href="#small-dialog5" class="play-icon popup-with-zoom-anim" title="Play Video">
										<span class="fa fa-play" aria-hidden="true"></span>
									</a>
								</div>
								<!-- // video-button-popup -->
								<div id="small-dialog5" class="mfp-hide">
									<div class="agileits_modal_body">
										<iframe src="https://player.vimeo.com/video/7273286"></iframe>

									</div>
								</div>
								<!-- // video-button-popup -->
							</div>
							<div class="img-caption">
								<h3 class="video-txt">Game Development</h3>
								<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet lectus turpis. Donec maximus odio nec odio.</p>
							</div>
						</div>
					</div>
					<!-- //video grid -->
					<div class="clearfix"></div>
					<!-- //video grid -->
					<!-- pop-last-row -->
					<div class="popl-row">
						<h6 class="row-txt">Four Column Layout</h6>
						<div class="col-md-3 video-grid1">
							<div class="demo-bg1">
								<div class="pop-bg1 pop-bg1">
									<div class="button">
										<a href="#small-dialog4" class="play-icon popup-with-zoom-anim" title="Play Video">
											<span class="fa fa-play" aria-hidden="true"></span>
										</a>
									</div>
									<!-- // video-button-popup -->
									<div id="small-dialog4" class="mfp-hide">
										<div class="agileits_modal_body">
											<iframe src="https://player.vimeo.com/video/7273286"></iframe>

										</div>
									</div>
									<!-- // video-button-popup -->
								</div>
								<div class="img-caption">
									<h3 class="video-txt">Geometry</h3>
									<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit sit.</p>
								</div>
							</div>
						</div>
						<!-- //video grid -->
						<!-- //video grid -->
						<div class="col-md-3 video-grid1">
							<div class="demo-bg1   pop-row2-middle">
								<div class="pop-bg1 pop-bg6">
									<div class="button">
										<a href="#small-dialog3" class="play-icon popup-with-zoom-anim" title="Play Video">
											<span class="fa fa-play" aria-hidden="true"></span>
										</a>
									</div>
									<!-- // video-button-popup -->
									<div id="small-dialog3" class="mfp-hide">
										<div class="agileits_modal_body">
											<iframe src="https://player.vimeo.com/video/7273286"></iframe>

										</div>
									</div>
									<!-- // video-button-popup -->
								</div>
								<div class="img-caption">
									<h3 class="video-txt">Data Science</h3>
									<p class="video-p-agileinfo">Lorem ipsum dolor sit amet ectetur adipiscing lectus.</p>
								</div>
							</div>
						</div>
						<!-- //video grid -->
						<!-- //video grid -->
						<div class="col-md-3 video-grid1">
							<div class="demo-bg1  poprow-3">
								<div class="pop-bg1 pop-bg5">
									<div class="button">
										<a href="#small-dialog2" class="play-icon popup-with-zoom-anim" title="Play Video">
											<span class="fa fa-play" aria-hidden="true"></span>
										</a>
									</div>
									<!-- // video-button-popup -->
									<div id="small-dialog2" class="mfp-hide">
										<div class="agileits_modal_body">
											<iframe src="https://player.vimeo.com/video/7273286"></iframe>

										</div>
									</div>
									<!-- // video-button-popup -->
								</div>
								<div class="img-caption">
									<h3 class="video-txt">Hardware</h3>
									<p class="video-p-agileinfo">Lorem ipsum dolor sit amet ectetur adipiscing lectus.</p>
								</div>
							</div>
						</div>
						<!-- //video grid -->
						<!-- //video grid -->
						<div class="col-md-3 video-grid1">
							<div class="demo-bg1">
								<div class="pop-bg1 pop-bg4">
									<div class="button">
										<a href="#small-dialog" class="play-icon popup-with-zoom-anim" title="Play Video">
											<span class="fa fa-play" aria-hidden="true"></span>
										</a>
									</div>
									<!-- // video-button-popup -->
									<div id="small-dialog" class="mfp-hide">
										<div class="agileits_modal_body">
											<iframe src="https://player.vimeo.com/video/7273286"></iframe>

										</div>
									</div>
									<!-- // video-button-popup -->
								</div>
								<div class="img-caption">
									<h3 class="video-txt">Mobile Apps</h3>
									<p class="video-p-agileinfo">Lorem ipsum dolor sit amet, consectetur adipiscing elit sit.</p>
								</div>
							</div>
						</div>
						<!-- //video grid -->
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- tab2 -->
				<div role="tabpanel" class="tab-pane  active" id="tab2">
					<h6 class="tab-txt">Find the Best programming Courses
						<span class="tab-rtxt">
							<i class="fa fa-play" aria-hidden="true"></i>iframe embedded Youtube</span>
					</h6>
					<div class="demo-video-grids">
						<div class="video-t2 row1">
							<div class="demo-left">
								<iframe src="https://www.youtube.com/embed/1CYBkEJV7T4" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="row2-demov">
							<h6 class="row-txt">two Column Layout</h6>
							<div class="col-md-6 video-t2">
								<div class="demo-left full-demo">
									<iframe src="https://www.youtube.com/embed/NTEznm0vuzU" allowfullscreen=""></iframe>
								</div>
							</div>
							<div class="col-md-6 video-t2">
								<div class="demo-left full-demo row2-demov1">
									<iframe src="https://www.youtube.com/embed/T2o8Yn-Xb6U" allowfullscreen=""></iframe>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<h6 class="row-txt">Three Column Layout</h6>
						<div class="col-md-4 video-t2">
							<div class="demo-left small-demo">
								<iframe src="https://www.youtube.com/embed/V3dFHt9p5W8" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="col-md-4 video-t2">
							<div class="demo-left small-demo row-3demov">
								<iframe src="https://www.youtube.com/embed/1CYBkEJV7T4" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="col-md-4 video-t2">
							<div class="demo-left  small-demo">
								<iframe src="https://www.youtube.com/embed/MYnnm8Klp6o" allowfullscreen=""></iframe>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				<!-- //tab2 -->
			</div>
		</div>
		<div class="video-w3layouts-bottom text-center">
			<fieldset>
				<legend>
					<h3 class="videtxt"> To watch full video tutorials</h3>
				</legend>
				<ul class="vide-list">
					<li>
						<i class="flash animated infinite fa fa-hand-o-right" aria-hidden="true"></i>
					</li>
					<li>
						<a href="#" class="log v-link" data-toggle="modal" data-target="#myModal">explore course</a>
					</li>
				</ul>
			</fieldset>
		</div>
	</div>

		<!-- footer -->
		{% include "include/footer.html" %}
		<!-- //footer -->
	
		<!-- js -->
	
		
	</body>
	
	</html>
	{% endblock %}